/* -------All Font--------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Poppins:wght@600;700&display=swap');

/* --------------------
    Common Style 
    -----------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    text-align: justify;
}
/* -----------------
    Header area 
    ---------------------*/
header{
    margin-left: 100px;
    margin-top: 87px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;

}
ul li{
    list-style: none;
    margin-left: 25px;
}
ul li a{
    text-decoration: none;
    color: black;
}
/* ---------------
    Section 1 
    --------------------*/

.section-1{
    display: flex;
    margin: 50px 120px;
    justify-content:space-between
}
.text-area{
    width: 50%;
}
    .text-area h1{
    font-size: 52px;
}
.first-button{
    background-color: #E02C6D;
    width: 196px;
    text-align: center;
    padding: 10px 0;
    border-radius: 30px;
    color: #ffffff;
}
.button{
    border: none;
    color: white;
    background-color:  #E02C6D;
    text-decoration: none;
}
.top-image{
    width: 475px;
    height: 475px;
}
.first-button:hover{
    transform: scale(1.1);
    transition: transform 0.5s ;
}
.top-image:hover{
    transform: scale(1.1);
    transition: transform 0.5s ;
}
/* ------------------
    Section 2 
    -----------------------*/
.section-2{
    margin: 100px 120px 50px 120px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.logo-area{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
/* ---------------
    Section 3 
    ----------------------*/
.section-3{
    margin:100px 120px;
    
}
.section-3-header{
    text-align: center;
    margin-bottom: 70px;
}
.collection-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
}
    .collection{
    width: 330px;
    height: 475px;
    box-shadow:0px 0px 40px gray;
    border-radius: 10px;
}
.image{
    padding: 15px;
}
.info{
    padding:0 15px 15px 15px;
    
}
.info h2{
    margin-top: 0;
    margin-bottom: 6px;
}
.info .dollar{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.info p, fas fa-star{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.star{
    color:orange;
}
.last-button{
    color: #E02C6D;
    text-align: right;
    margin-top: 50px;
}
.last-button a{
    text-decoration: none;
    color:#E02C6D;
    margin-right: 10px;
}
/* ---------------
    section 4
    --------------------4 */
.influencer{
    width: 100%;
    height: 300px;
    box-shadow: 0 0 40px gray;
    display: flex;
    margin-top: 50px;
}
.influencer-info{
    padding: 20px;
}
.ranking{
    color: #E02C6D;
    margin-bottom: 0;
}
/* ---------------------------
    footer area
    ------------------------------ */
    footer{
        width: 100%;
        height: 240px;
        background-color: #0A0826;
        color: #ffffff;
        text-align: center;
        padding-top: 50px;
    }
    footer h2{
        margin-bottom: 0;
    }
    footer fab{
        font-size: 500px;
    }
    .footer-link a{
        display: inline-block;
        font-size: 25px;
        margin: 20px;
        text-decoration: none;
        color: #ffffff;
 }
 @media only screen and (max-width:688px ){
    header{
        margin:20px;
    }
    header ul li{
        display: none;
    }
    main{
        width:100%;
    }
    .section-1{
        flex-direction: column;
    }
    .text-area{
        width: 100%;
    }
   
 }
        
       

